    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

    .uobox{
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

		.uobox{
			background-color:  #00216b;
            border: 1px solid #dddddd;
			width: 70%;
			margin: 20px auto;
		}

        .uobox table{
            margin-bottom: 0;
        }

		.uobox h2{
			color: #ffffff;
			font-size:18px;
            margin: 0;
            padding-left: 25px;
            line-height: 1.5;
		}
        .white{background-color: #ffffff;padding: 15px 0}
        h2 span{font-weight: 400;}
		.uobox a{color: #ffffff;text-decoration: underline;}
		.uobox a:hover{color: #ffffff;text-decoration: underline;opacity: .9;}
		.uobox .middle-xs {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			box-sizing: border-box;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}

        .uobox .left{
            width: 70%;
            float: left;
        }

        .uobox .right{
            width: 30%;
            float: left;
        }

        .uobox .right img {
            width: 50%;
            float: left;
            padding: 0 15px;
            border:1px solid #dddddd;
            background-color: #ffffff;
        }

        .uobox .right img:first-child{
            border-top:1px solid transparent;
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(2){
            border-top:1px solid transparent;
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(3){
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(4){
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        @media (max-width: 767px){
            .uobox .left , .uobox .right{
                float: none;
                width: 100%;
            }

            .uobox .right img {
            width: 25%;
            float: left;}

            .uobox h2{
            	padding: 20px;
            }
        }
        




/*simulasi pinjaman usaha*/

         .simulasi-pinjaman-usaha {
             font-family: 'Roboto', sans-serif;
             color: #5d5d5f;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
         }
         
         .simulasi-pinjaman-usaha .kalkulator-modal-kerja,
         .simulasi-pinjaman-usaha .penawaran {
             padding: 15px;
         }
         
         .kalkulator-modal-kerja h4 {
             margin-top: 0;
             margin-bottom: 15px;
             font-size: 20px;
             color: #5d5d5f;
         }
         
         .simulasi-pinjaman-usaha {
             border: 1px solid #dddddd;
             margin-bottom: 20px;
         }
         
         .simulasi-pinjaman-usaha label {
             font-weight: 400;
             color: #666;
         }
         
         .simulasi-pinjaman-usaha .form-control,
         .simulasi-pinjaman-usaha .input-group-addon {
             height: auto;
             box-sizing: border-box;
             border: 1px solid #dbe2e8;
             box-shadow: 0 2px 2px 0 rgba(46, 60, 73, .05);
             border-radius: 2px;
         }
         
         .simulasi-pinjaman-usaha .form-control,
         .simulasi-pinjaman-usaha label,
         .simulasi-pinjaman-usaha .input-group-addon {
             font-size: 13px;
         }
         
         .simulasi-pinjaman-usaha .form-control:active,
         .simulasi-pinjaman-usaha .form-control:focus {
             outline: none;
         }
         
         .simulasi-pinjaman-usaha input.currency,
         .simulasi-pinjaman-usaha .form-control {
             text-align: right;
             padding-right: 15px;
         }
         
         .simulasi-pinjaman-usaha .input-group-addon:first-child {
             border-right: 0 !important;
         }
         
         .simulasi-pinjaman-usaha .rightinput {
             padding: 0 0 15px 15px;
         }
         
         .simulasi-pinjaman-usaha .penawaran {
             border-top: 1px solid #dddddd;
         }
         
         .simulasi-pinjaman-usaha .middle-xs {
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;
             box-sizing: border-box;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 0;
             -ms-flex: 0 1 auto;
             flex: 0 1 auto;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
             -ms-flex-direction: row;
             flex-direction: row;
             -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         }
