    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

    .uobox{
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

		.uobox{
			background-color:  #002469;
            border: 1px solid #dddddd;
			margin: 0 auto 20px;
        }
        
        .btn-primary {
            color: #fff;
            background-color: #002469 !important;
            border-color: #031c4b !important;
        }

        .uobox table{
            margin-bottom: 0;
        }

		.uobox h2{
			color: #ffffff;
			font-size:18px;
            margin: 0;
            padding-left: 25px;
            line-height: 1.5;
		}
        .white{background-color: #ffffff;padding: 15px 0}
        h2 span{font-weight: 400;}
		.uobox a{color: #ffffff;text-decoration: underline;}
		.uobox a:hover{color: #ffffff;text-decoration: underline;opacity: .9;}
		.uobox .middle-xs {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			box-sizing: border-box;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}

        .uobox .left{
            width: 70%;
            float: left;
        }

        .uobox .right{
            width: 30%;
            float: left;
        }

        .uobox .right img {
            width: 50%;
            float: left;
            padding: 0 15px;
            border:1px solid #dddddd;
            background-color: #ffffff;
        }

        .uobox .right img:first-child{
            border-top:1px solid transparent;
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(2){
            border-top:1px solid transparent;
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(3){
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        .uobox .right img:nth-child(4){
            border-right:1px solid transparent;
            border-bottom:1px solid transparent;
        }

        @media (max-width: 767px){
            .uobox .left , .uobox .right{
                float: none;
                width: 100%;
            }

            .uobox .right img {
            width: 25%;
            float: left;}

            .uobox h2{
            	padding: 20px;
            }
        }
        




/*simulasi pinjaman usaha*/

         .simulasi-pinjaman-usaha {
             font-family: 'Roboto', sans-serif;
             color: #5d5d5f;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
         }
         
         .simulasi-pinjaman-usaha .kalkulator-modal-kerja{
		padding: 5px;
	    	margin: 0;
	}

         .simulasi-pinjaman-usaha .penawaran {
             padding: 15px;
         }
         
         .kalkulator-modal-kerja h4 {
             margin-top: 0;
             margin-bottom: 15px;
             font-size: 20px;
             color: #5d5d5f;
		padding: 10px;
         }
         
         .simulasi-pinjaman-usaha {
             border: 1px solid #dddddd;
             margin-bottom: 20px;
         }
         
         .simulasi-pinjaman-usaha label {
             font-weight: 400;
             color: #000000;
         }
         
         .simulasi-pinjaman-usaha .form-control,
         .simulasi-pinjaman-usaha .input-group-addon {
             height: auto;
             box-sizing: border-box;
             border: 1px solid #dbe2e8;
             box-shadow: 0 2px 2px 0 rgba(46, 60, 73, .05);
             border-radius: 2px;
         }
         
         .simulasi-pinjaman-usaha .form-control,
         .simulasi-pinjaman-usaha label,
         .simulasi-pinjaman-usaha .input-group-addon {
             font-size: 13px;
         }
         
         .simulasi-pinjaman-usaha .form-control:active,
         .simulasi-pinjaman-usaha .form-control:focus {
             outline: none;
         }
         
         .simulasi-pinjaman-usaha input.currency,
         .simulasi-pinjaman-usaha .form-control {
             text-align: right;
             padding-right: 15px;
         }
         
         .simulasi-pinjaman-usaha .input-group-addon:first-child {
             border-right: 0 !important;
         }
         
         .simulasi-pinjaman-usaha .rightinput {
             padding: 0 0 15px 15px;
         }
         
         .simulasi-pinjaman-usaha .penawaran {
             border-top: 1px solid #dddddd;
         }
         
         .simulasi-pinjaman-usaha .middle-xs {
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;
             box-sizing: border-box;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-flex: 0;
             -ms-flex: 0 1 auto;
             flex: 0 1 auto;
             -webkit-box-orient: horizontal;
             -webkit-box-direction: normal;
             -ms-flex-direction: row;
             flex-direction: row;
             -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         }



/*landing page*/

		@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

		body{background: #ffffff;}
		body{
		    font-family: 'Roboto', sans-serif;
		    color: #000;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}
		.kalkulator-modal-kerja {
    			margin: 20px 0 0 20px;
		}
		.kalkulator-modal-kerja h2{
		    margin-top:0;
		    margin-bottom: 15px;
		    font-size: 20px;
		    color: #fff;
		    background: #001453;
		    padding: 10px;
		}
		.pinjaman-uob label{
		    font-weight: 400;   
		    color: #000000;
		}

		.pinjaman-uob .form-control, .pinjaman-uob .input-group-addon{
		    height: auto;
		    box-sizing: border-box;
		    border: 1px solid #dbe2e8;
		    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
		    border-radius: 2px;
		}

		.pinjaman-uob .form-control,
		.pinjaman-uob  label,
		.pinjaman-uob .input-group-addon{
			font-size: 13px;
		}

		.pinjaman-uob .form-control:active, .pinjaman-uob .form-control:focus {
		    outline: none;
		}

		.pinjaman-uob input.currency,
		.pinjaman-uob .form-control {
			text-align: right;
		    padding-right: 15px;
		}

		.input-group-addon:first-child {
		    border-right: 0 !important;
		}
		.carousel.fade{
			opacity:1
		}
		.carousel.fade>.carousel-inner>.item{
			-moz-transition:opacity ease-in-out .6s;
			-o-transition:opacity ease-in-out .6s;
			-webkit-transition:opacity ease-in-out .6s;
			transition:opacity ease-in-out .6s;
			left:0 !important;
			opacity:0;
			top:0;
			position:absolute;
			width:100%;
			display:block !important;
			z-index:1;
		}
		.carousel.fade>.carousel-inner>.item:first-child{
			top:auto;
			position:relative;
		}
		.carousel.fade>.carousel-inner>.active{
			opacity:1;
			-moz-transition:opacity ease-in-out .6s;
			-o-transition:opacity ease-in-out .6s;
			-webkit-transition:opacity ease-in-out .6s;
			transition:opacity ease-in-out .6s;
			z-index:2
		}
		.carousel.fade>.carousel-control{
			z-index:2
		}
/* 		ol.carousel-indicators {
    		display: none;
		} */

		.top-pinjaman-uob{
			border-left: 1px solid #eeeeee;
		}

		.pinjaman-uob .nav-tabs {
		    background-color:  #002469;
		    height: 40px;
		    border-top: none ;
		    border-bottom: none;
		}


		.pinjaman-uob .nav-tabs>li>a{
		    border-radius: 0;
		    color: #ffffff;
		    border:none;
		}

		.pinjaman-uob .nav-tabs>li.active>a:focus, .pinjaman-uob .nav-tabs>li.active>a:hover{
		    background-color: #001453;
		    border:none;
		    color: #ffffff;
		}

		.pinjaman-uob .nav-tabs>li.active>a{
		    border:none;
		    background-color: #001453;
		    color: #ffffff;
		}

		.pinjaman-uob .nav>li>a:focus, .pinjaman-uob .nav>li>a:hover {
		    text-decoration: none;
		    background-color: #01228F;
		border-right: 1px solid #01228F;
		    border-left: none;
		    border-top: none;
		    border-bottom: none;
		    color: #ffffff;
		}

		.pinjaman-uob .nav-tabs>li>a {
		    margin-right: 0;
		    border-right: 1px solid #001453;
		}

		.pinjaman-uob .tab-content{background-color: #f5f5f5;}
		.pinjaman-uob .content h1{margin-top: 0;}
		.pinjaman-uob .content h1{font-size: 20px;}
		.pinjaman-uob .content h3{font-size: 14px;}
		.pinjaman-uob .box{padding: 50px 30px;}
		.pinjaman-uob .sub .nav-tabs {
		    background: #999;
		}
		.pinjaman-uob .sub .nav-tabs>li>a {
		    margin-right: 0;
		    border-right: 1px solid #8a8585;
		}
		.pinjaman-uob .sub .nav-tabs li {
		    width: 50%;
		    text-align: center;
		}

#cfade {
    margin-top: 20px;
}

@media (max-width: 767px){
	.kalkulator-modal-kerja {
	    margin: 20px 0;
	}
	.top-pinjaman-uob {
    	    border-left: none;
	}
	.pinjaman-uob .nav-tabs {
	    height: auto;
	}
	.nav-tabs>li {
    	margin-bottom: 0;
	width: 50%;
	}
	.pinjaman-uob .nav-tabs>li>a {
	    font-size: 13px;
	}	
	
	.pinjaman-uob .box {
	    padding: 15px 15px;
	}
	.pinjaman-uob .content h1 {
	    font-size: 16px;
	}
	
}

@media (min-width:992px){
	.content {
	    top: -5px;
	    position: relative;
	}
}
